/* mobile.css*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav {
	position: relative;
}

.nav-mobile {
	position: absolute;
	right: 30px;
	width: 400px;
	display: none;

	list-style-type: none;
	background-color: purple;
}

.nav-mobile a{
	display: block;
	padding: 20px;
	background-color: salmon;
	border-bottom: 1px dashed yellow;

	color: #FFF;
	text-decoration: none;
}

.nav-mobile a:hover {
	background-color: orange;
}

.toggle {
	display: block;
}

/*
	Menu escritorio
*/

.nav-desktop {
	max-width: 1000px;
	background-color: violet;
	display: flex;
}

.nav-desktop li {
	flex-grow: 1;
}

.nav-desktop a {
	display: block;
	text-align: center;
	padding: 10px;
}

.nav-desktop a:hover {
	color: black;
}